{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login Example{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                Login Example
            </a>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Network <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					<li><a href="{{ url_for('ethernet') }}">Ethernet</a></li>
					<li><a href="{{ url_for('wifi') }}">Wi-Fi</a></li>
					<li><a href="{{ url_for('gsmmodem') }}">4G-Dongle</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Video <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="{{ url_for('video') }}">Video</a></li>
				  </ul>
				</li>				
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Audio <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="{{ url_for('audio') }}">Audio</a></li>
				  </ul>
				</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if current_user.is_authenticated() %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
